<link rel="stylesheet" href="{{ asset('css/styles.css') }}">

<h3> LA LISTES DES ETUDIANTS</h3>

<table border="1">
    <tr>
        <td>ID </td>
        <td> NAME</td>
        <td> amount</td>

        <td> ACTION</td>
    </tr>
    {% for t in response%}
        <tr>
            <td>  {{t.id}}  </td>
            <td>  {{t.nom}}</td>
            <td>  {{t.amount}}</td>


            <td>
                <a href={{path('update',{'id':t.id})}}>update</a>

        </tr>
    {% endfor %}
</table>


<a href="{{path("addF")}}"> add author </a>
